<style>
  code {
    font-size:20px;
  }
</style>
<h1>
  Free code camp timestamp
</h1>

<ul>
User Story: I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).
<br/>
User Story: If it does, it returns both the Unix timestamp and the natural language form of that date.
<br/>
User Story: If it does not contain a date or Unix timestamp, it returns null for those properties.
</ul>

<h2>
  Example
</h2>
<code>
  <a href="https://amazingbin.glitch.me/timestamp?time=December%2020,%201997">https://amazingbin.glitch.me/timestamp?time=December%2020,%201997</a><br/>
  <a href="https://amazingbin.glitch.me/timestamp?time=882576000">https://amazingbin.glitch.me/timestamp?time=882576000</a><br/>  
</code>
<h2>
  result
</h2>
<code>
  {"unix":882576000,"natural":"December 20, 1997"}
</code>